.pokeball {
    transform: rotate(360deg);
    animation: pokeball 0.5s linear infinite;
}

@keyframes pokeball {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
